.wrapper-dropdown-1 {
    display: block;
    margin: 25px auto;
    z-index: 900;
    background: #ddd;
    color: #333;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 8px;
    position: relative;
    width: 200px !important;
    border: 1px solid #aaa;
    -webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.1);
    box-shadow: 0 2px 1px rgba(0,0,0,0.1);
    font-size: 14px;
    margin-bottom: -10px;
}

.container-lg h1 {
  font-size: 70px;
}

// #viewSwitch h2 {
//   margin-top: 25px;
// }

#instructions {
  margin-top: 90px;
}

#viewSwitch .subText p {
  font-family: "Benton Sans", sans-serif;
  font-size: 16px;
  text-align: left;
}

ul.dropdown.months li {
  padding: 3px 4px;
}

#buttons .navbutton#in, .navbutton#out {
  font-size: 14px;
  font-family: "Benton Sans", sans-serif;
  padding: 5px 10px;
  // border: solid 1px black;
  border-top: none;
  background-color: lightgrey;
}

.navbutton#in:hover, .navbutton#out:hover {
  font-size: 14px;
  font-family: "Benton Sans", sans-serif;
  padding: 5px 10px;
  border-top: none;
  opacity: 0.8;
}

#buttons {
  float: right;
  margin-right: 20px;
}

#viewSwitch #buttons h2#buttonHead {
  margin-top: 10px;
}

#followUp {
  margin-top: 90px;
}

#flexContainer {
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.card img {
  max-width: 500px;
}

.card .cardCaption {
  max-width: 500px;
}

#sidebar {
  padding: 20px 20px;
}

.leaflet-container a.close {
    color: #a9a9a9;
    z-index: 1000;
}

button.submit-form {
  background-color: #bebebe;
}

button.submit-form:hover {
  background-color: #a9a9a9;
}

button#cancel, button.cancel {
  border: solid 1.5px #bebebe;
  color: #bebebe;
  background-color: #ffffff;
}

button#cancel:hover, button.cancel:hover {
  background-color: #bebebe;
  color: white;
}

.leaflet-sidebar > .leaflet-control {
    height: 100%;
    width: 60%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 24px;
    font-size: 1.1em;
    background: white;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#locationName {
  font-family: "Benton Sans", sans-serif;
  font-weight: bold;
}

#locationDesc {
  font-family: "Benton Sans", sans-serif;
  font-size: 16px;
}

.byline .spacer::after {
  content: ' ';
}

.byline .spacer {
  color: black;
}

.byline span.byline-2 {
  text-transform: uppercase;
  font-weight: regular;
  font-size: 0.85em;
}

.byline time {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.85em;
  color: black;
}

#instructions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#instructions .instructions {
  width: 150px;
  font-family: "Benton Sans", sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
}

#instructions .instructions:nth-of-type(1) {
  width: 90px;
  font-family: "Benton Sans", sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
}

#instructions .instructions p {
  font-family: "Benton Sans", sans-serif;
  margin-left: 50px;
}

#instructions .instructions img {
  float: left;
  object-fit: contain;
  align-self: flex-start;
  width: 40px;
  height: 40px;
}

#completeForm img {
  width: 75px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

#completeForm p {
  font-family: "Benton Sans", sans-serif;
  font-size: 16px;
}

#completeForm button {
  display: block;
  margin: 0 auto;
}

.leaflet-right.leaflet-bottom .leaflet-control-minimap{
  margin-right: 0;
  margin-bottom: 0;
  border-top: solid 6px white;
  border-left: solid 6px white;
  border-right: solid 2px white;
  border-bottom: solid 2px white;
}

#image-map a img {
  width: 50px;
  height: 50px;
  z-index: 100;
}

#nav {
  text-align:left;
  position:absolute;
  // top:-50px;
  // right:0;
  top:0;
  left:0;
  z-index:999999999999;
}

.navbutton#in img, .navbutton#out img {
  height: 25px;
  z-index: 10000;
}

#toggle {
  display: block;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 25px;
  // overflow: hidden;
  // float: left;
  // clear: none;
}

// input[type="radio"] {
//   display: inline-block;
// }

input:not([type='submit']):not([type='reset']):not([type='button']):invalid {
    border-color: black;
}

#toggle label {
  margin-left: 5px;
  margin-right: 5px;
  font-family: "Benton Sans", sans-serif;
  color: black;
  font-size: 15px;
  text-transform: uppercase;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked:nth-of-type(1) + label:after,
[type="radio"]:not(:checked):nth-of-type(1) + label:after {
  content: '';
  width: 10px;
  height: 10px;
  background: darkgrey;
  position: absolute;
  top: 4px;
  left: 4.25px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:checked:nth-of-type(2) + label:after,
[type="radio"]:not(:checked):nth-of-type(2) + label:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #ee6544;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:checked:nth-of-type(3) + label:after,
[type="radio"]:not(:checked):nth-of-type(3) + label:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #64bc46;
  position: absolute;
  top: 4px;
  left: 4.25px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
