  @media screen and (max-width: 480px) {
    #desktopContainer {
      display: none;
    }
    #mobileContainer {
      display: block;
    }
    .container-lg h1 {
      font-size: 51px;
    }
    #mobileContainer h2 {
      max-width: 300px;
      text-align: center;
      display: block;
      margin: 50px auto;
      font-family: "Benton Sans", sans-serif;
      font-weight: 400;
    }
    .mobile-card {
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 25px;
      margin-top: 100px;
    }
    .mobile-card .accordion {
      background-color: #f5f5f5;
      color: #444;
      cursor: pointer;
      padding: 15px;
      width: 100%;
      text-align: left;
      border: none;
      outline: none;
      transition: 0.4s;
      border-radius: 0;
      font-family: "Benton Sans", sans-serif;
      font-size: 15px;
    }

    .mobile-card .accordion:not(:first-child) {
      border-top: solid 1px #444;
    }

    .mobile-card .active, .mobile-card .accordion:hover {
      background-color: #e0e0e0;
      box-shadow: 0 0 0;
      font-weight: bold;
    }

    .mobile-card .panel {
      padding: 0 18px;
      background-color: white;
      display: none;
      overflow: hidden;
    }

    .mobile-card .panel p {
      margin-top: 10px;
      font-size: 14px;
      font-family: "Benton Sans", sans-serif;
    }

    .mobile-card .accordion:after {
      content: '\02795'; /* Unicode character for "plus" sign (+) */
      font-size: 13px;
      color: #777;
      float: right;
      margin-left: 5px;
      font-family: "Benton Sans", sans-serif;
      font-weight: 400;
    }

    .mobile-card .active:after {
      content: "\2796"; /* Unicode character for "minus" sign (-) */
      font-family: "Benton Sans", sans-serif;
    }

    .mobile-card img.slice {
      border-top: 1px solid #707070;
      border-right: 1px solid #707070;
      border-left: 1px solid #707070;
      border-bottom: none;
    }

    .mobile-card img.pano {
      margin-bottom: 10px;
    }

    div.panel.show {
      display: block !important;
    }

  }
