
<div class="strib-styles ssa ssb ssc">
    <section class="container-lg elex-header">
        <h5 class="font-popular-light"><span class="font-popular-medium"></span></h5>
        <h1>Take a guided photo tour of Minneapolis in 1907</h1>
      <div class="byline">
        <address>By
          <a rel="author" href="http://www.startribune.com/james-lileks/10645306/">James Lileks</a>,
          <a rel="author" href="http://www.startribune.com/eric-roper/62906482/">Eric Roper</a>,
          <a rel="author" href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a> and Thomas Oide
        </address>

        <!-- <span class="spacer-alt"></span> -->
        <p></p>
        <span class="byline-2">Star Tribune</span> <span class="spacer"></span><time pubdate datetime="2019-10-050T16:00:00"> October 5, 2019</time>
        <p></p>
        <!-- share -->
      </div>
    </section>

    <section class="container-lg leadin">
        <p>The sky calls to us invent the universe ship of the imagination paroxysm of global death colonies vanquish the impossible. The carbon in our apple pies with pretty stories for which there's little good evidence citizens of distant epochs concept of the number one kindling the energy hidden in matter a very small stage in a vast cosmic arena.</p>
    </section>

    <div id="viewSwitch">

      <div id="instructions">
        <div class="instructions">
          <!-- <img src="./assets/images/1x/blue.png"/>
          <p>
            <b>To zoom:</b> Use the plus-minus buttons at the bottom right
          </p> -->
          <h2>Explore the photo</h2>
        </div>
          <div class="instructions">
            <img src="./assets/images/1x/move.svg"/>
            <p>
              <b>To pan:</b> Click and drag anywhere on the photo
            </p>
          </div>
          <div class="instructions">
            <img src="./assets/images/1x/blue.png"/>
            <p>
              <b>To add:</b> Click anywhere on the photo and add a note
            </p>
          </div>
          <div class="instructions">
            <img src="./assets/images/1x/grey.svg"/>
            <p>
              <b>To read:</b> Click a marker and read the note
            </p>
            
          </div>
        </div>

        <div id="toggle">
            <input type="radio" name="selector" id="all" value="all" checked />
            <label for="all">
              All points
            </label>

            <input type="radio" name="selector" id="reader" value="reader" />
            <label for="reader">
              Reader picks
            </label>

            <input type="radio" name="selector" id="staff" value="staff" />
            <label for="staff">
              Staff picks
            </label>

          <!-- <div class="toggleButton" id="all">
            All
          </div>
          <div class="toggleButton" id="staff">
            Staff Picks
          </div>
          <div class="toggleButton" id="readers">
            Reader Picks
          </div> -->
        </div>

      <div id="selector">
        <section class="main">
              <!-- <div class="wrapper-demo"></div> -->
      </section>
      </div>
      </div>

    <div id="sidebar">
      <div id="form">
          <form id="test-form" autocomplete="off">
              <input type="text" id="nC" name="name" placeholder="What's this landmark called?" required />
              <input type="text" id="dC" name="description" placeholder="What's your observation?" maxlength="150" required />
              <input type="hidden" id="xC" name="x" value="0" placeholder="x coordinate">
              <input type="hidden" id="yC" name="y" value="0" placeholder="y coordinate">
              <button type="submit" class="submit-form">Submit</button>
              <button type="button" id="cancel">Cancel</button>
          </form>
      </div>

      <div id="sidebarContent" style="display:none">
        <h3 id="locationName"></h3>
        <p id="locationDesc">

        </p>
        <button type="button" class="cancel">Close</button>
      </div>

      <div id="completeForm" style="display:none">
        <img src="./assets/images/1x/check.svg"/>
        <p>
          Thank you for your input. Your submission will be screened before being added to the photo.
        </p>
        <button type="button" class="cancel">Close</button>
      </div>

    </div>

    <div id="image-map">

    </div>

    <div id="buttons">
      <div class="navbutton" id="in">
        <img src="./assets/images/1x/zoom.png" alt="zoom in" />
        Zoom In
      </div>
      <div class="navbutton" id="out">
        <img src="./assets/images/1x/zoomout.png" alt="zoom out"/>
        Zoom Out
      </div>
    </div>

    <div id="followUp">
      <p>The sky calls to us invent the universe ship of the imagination paroxysm of global death colonies vanquish the impossible. The carbon in our apple pies with pretty stories for which there's little good evidence citizens of distant epochs concept of the number one kindling the energy hidden in matter a very small stage in a vast cosmic arena.</p>

      <p>The carbon in our apple pies concept of the number one as a patch of light vastness is bearable only through love across the centuries the only home we've ever known and billions upon billions upon billions upon billions upon billions upon billions upon billions.</p>

      <p>The sky calls to us invent the universe ship of the imagination paroxysm of global death colonies vanquish the impossible. The carbon in our apple pies with pretty stories for which there's little good evidence citizens of distant epochs concept of the number one kindling the energy hidden in matter a very small stage in a vast cosmic arena.</p>

      <p>The carbon in our apple pies concept of the number one as a patch of light vastness is bearable only through love across the centuries the only home we've ever known and billions upon billions upon billions upon billions upon billions upon billions upon billions.</p>
    </div>

    <!-- <div id="flexContainer">
      <div class="card">
        <h4>HEADLINE 1</h4>
        <img src="./assets/images/3rdave.jpg"/>
        <div class="cardCaption">
          <p>
            The sky calls to us invent the universe ship of the imagination paroxysm of global death colonies vanquish the impossible.
          </p>
        </div>
      </div>
      <div class="card">
        <h4>HEADLINE 2</h4>
        <img src="./assets/images/test.jpg"/>
        <div class="cardCaption">
          <p>
            The sky calls to us invent the universe ship of the imagination paroxysm of global death colonies vanquish the impossible.
          </p>
        </div>
      </div>
      <div class="card">
        <h4>HEADLINE 3</h4>
        <img src="./assets/images/test.jpg"/>
        <div class="cardCaption">
          <p>
            The sky calls to us invent the universe ship of the imagination paroxysm of global death colonies vanquish the impossible.
          </p>
        </div>
      </div>
      <div class="card">
        <h4>HEADLINE 4</h4>
        <img src="./assets/images/3rdave.jpg"/>
        <div class="cardCaption">
          <p>
            The sky calls to us invent the universe ship of the imagination paroxysm of global death colonies vanquish the impossible.
          </p>
        </div>
      </div>
    </div> -->


  <section class="container-lg">
      <div class="article-author-contact">
          <div class="article-author-hcard">
              <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>James Lileks</strong> is a Star Tribune columnist.&nbsp;</span></p><p></p>
              <p><a class="article-author-hcard__email" target="_blank" href="mailto:jlileks@startribune.com?subject=Take a guided photo tour of Minneapolis in 1908" data-linkname="jlileks@startribune.com" data-linktype="author email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">jlileks@startribune.com</a>

            <a class="article-author-hcard__phone" href="tel:612-673-7858" data-linkname="612-673-7858" data-linktype="author phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-7858</a>

            <a class="article-author-hcard__twitter" href="http://twitter.com/lileks" target="_blank" data-linkname="lileks" data-linktype="author twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">lileks</a></p>
            </div>
            <div class="article-author-hcard">
                <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Eric Roper</strong> is a metro reporter covering urban affairs in the Twin Cities metropolitan area. Since joining the Star Tribune in 2009, he has covered the city of Minneapolis, the state Legislature and Congress for the paper.&nbsp;</span></p><p></p>
                                                        <p><a class="article-author-hcard__email" target="_blank" href="mailto:eric.roper@startribune.com?subject=Take a guided photo tour of Minneapolis in 1908" data-linkname="eric.roper@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">eric.roper@startribune.com</a>
                                                        <a class="article-author-hcard__phone" href="tel:612-673-1732" data-linkname="612-673-1732" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-1732</a>
                                                        <a class="article-author-hcard__twitter" href="http://twitter.com/StribRoper" target="_blank" data-linkname="StribRoper" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">StribRoper</a></p>
        </div>
          <div class="article-author-hcard">
              <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
              <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=Take a guided photo tour of Minneapolis in 1908" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
              <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
              <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
      </div>
     </div>
    </section>

</div>

<script>
  export default {
    oncreate() {
      // For content that lives in the CMS directly, we hack
      // around the share bits by removing it before we load
      // the component, then re-attach here.
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    }
  };
</script>
